body{
	padding:0px;
	margin: 0px;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-x: hidden;
}
.header {
	padding: 1% 0%;
	margin: 0px;
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	text-align: center;	
}
.header h3{
 color:#36465f;
font-size:18px;
font-weight: 400;
font-family: 'Montserrat', sans-serif;
margin-bottom: 10px;
margin-top: 10px;
	
}
.header h4{
 color:#36465f;
font-size:20px;
font-weight: 400;
font-family: 'Montserrat', sans-serif;	
}

.header h6{
 color:#36465f;
font-size:12px;
font-weight: 400;
font-family: 'Montserrat', sans-serif;
margin:10% 0%; 
	
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.header h3{
 color:#36465f;
font-size:16px;
font-weight: 400;
font-family: 'Montserrat', sans-serif;
margin-bottom: 10px;
margin-top: 10px;
}
.header h4{
 color:#36465f;
font-size:18px;
font-weight: 400;
font-family: 'Montserrat', sans-serif;
margin:10px 0px;
	
}
.header h6{
 color:#36465f;
font-size:12px;
font-weight: 400;
font-family: 'Montserrat', sans-serif;
margin:5% 0%; 
	
}	
}

@media only screen and (min-device-width : 412px) and (max-device-width : 732px) {
.header h3{
 color:#36465f;
font-size:20px;
font-weight: 200;
font-family: 'Montserrat', sans-serif;
margin-bottom: 10px;
margin-top: 10px;
}
.header h4{
 color:#36465f;
font-size:18px;
font-weight: 400;
font-family: 'Montserrat', sans-serif;
margin-bottom: 5px;
	
}		
}


.labels{
	color:#a7a9ac!important;
	font-family: 'Open Sans', sans-serif !important;
	font-size:14px!important;
	font-weight: normal;
}
.sub_header {
    width: 100%;
	height: auto;
	float: left;
	clear: both;
	
}
.sub_header h1{
	color:#36465f;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin-top:10px;
	margin-bottom:10px;
}
.sub_header h4{
	color:#36465f;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	margin-top:10px;
	margin-bottom:10px;
	line-height: 15px;
}
.sub_header h2{
	color:#36465f;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 16px;
	margin-top:20px;
	margin-bottom:10px;
	line-height: 15px;
}
.sub_header h3{
	color:#f00f64;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 16px;
	margin-top:10px;
	margin-bottom:10px;
	line-height: 15px;
	text-decoration: underline;
}
.spans{
	font-family: "Open Sans",sans-serif;
	font-size:13px; 
	font-weight: 500;
}

@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
	.sub_header {
    width: 100%;
	height: auto;
	float: left;
	clear: both;
}
.sub_header h1{
	color:#36465f;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 28px;
	margin-top:10px;
	margin-bottom:10px;
}
.sub_header h4{
	color:#36465f;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	margin-top:20px;
	margin-bottom:10px;
	line-height: 15px;
}
.sub_header h2{
	color:#36465f;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;
	margin-top:10px;
	margin-bottom:10px;
	line-height: 15px;
}
.sub_header h3{
	color:#f00f64;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;
	margin-top:0px;
	margin-bottom:10px;
	line-height: 15px;
	text-decoration: underline;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.sub_header {
    width: 100%;
	height: auto;
	float: left;
	clear: both;
}
.sub_header h1{
	color:#36465f;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 25px;
	margin-top:10px;
	margin-bottom:10px;
}
.sub_header h4{
	color:#36465f;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
	margin-top:10px;
	margin-bottom:10px;
	line-height: 15px;
}
.sub_header h2{
	color:#36465f;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;
	margin-top:10px;
	margin-bottom:10px;
	line-height: 15px;
}
.sub_header h3{
	color:#f00f64;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	margin-top:0px;
	margin-bottom:10px;
	line-height: 15px;
	text-decoration: underline;
}	
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.sub_header {
    width: 100%;
	height: auto;
	float: left;
	clear: both;
}
.sub_header h1{
	color:#36465f;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	margin-top:5px;
	margin-bottom:5px;
}
.sub_header h4{
	color:#36465f;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 10px;
	margin-top:5px;
	margin-bottom:5px;
	line-height: 15px;
}
.sub_header h2{
	color:#36465f;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 10px;
	margin-top:5px;
	margin-bottom:5px;
	line-height: 15px;
}
.sub_header h3{
	color:#f00f64;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 10px;
	margin-top:0px;
	margin-bottom:5px;
	line-height: 15px;
	text-decoration: underline;
}	
}
@media only screen and (min-device-width : 1280px) and (max-device-width : 600px) {
.sub_header {
    width: 100%;
	height: auto;
	float: left;
	clear: both;
}
.sub_header h1{
	color:#36465f;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 12px;
	margin-top:5px;
	margin-bottom:5px;
}
.sub_header h4{
	color:#36465f;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 10px;
	margin-top:5px;
	margin-bottom:5px;
	line-height: 15px;
}
.sub_header h2{
	color:#36465f;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 10px;
	margin-top:5px;
	margin-bottom:5px;
	line-height: 15px;
}
.sub_header h3{
	color:#f00f64;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 10px;
	margin-top:0px;
	margin-bottom:5px;
	line-height: 15px;
	text-decoration: underline;
}	
}
footer {
	position: fixed !important;
	bottom: 0px; 
	left: 0px;
    height: auto;
    width: 100%;
	background-color: #e6e7e8;
	border-top:1px solid #bcbec0;
	color: #fff;
	text-align: center;
	padding:0% 0%;
	float: left;
	clear: both;
	overflow: auto;
}
.form-control-resend {
    background-color: #fff;
    background-image: none;
    border: 1px solid #bcbec0;
    color: #555;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 45px;
    padding: 5px 10px;
	border-radius:4px;
}
.btn-resend {
    background-color: #fddbe8 !important;
    border-color: #f00f64 !important;
    color: #f00f64 !important;
    padding:2px 5px;
    text-align: center;
    width:auto;
	border-radius:4px!important;
	height:25px;
}
.btn-resend.focus, .btn-resend:focus, .btn-resend:hover {
	color: #fff;
	text-decoration: none;
	background-color:#f00f64;
}
.btns {
  border:1px solid #f00f64 !important;
  border-radius: 2px;
  position: relative;
  padding: 2px 5px!important;
  margin-top: 4px!important;
  font-size: 12px!important;
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: 0;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
}
/*--- radio button ---*/	
.input-hidden {
  position: absolute;
  left: -9999px;
}
input[type=radio]:checked + label>img {
background:#fff;
}
input[type=radio] + label>img {
  border-radius:100px;
  width: 60px;
  height: 60px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  background:#fff;
}
.form-group h4{
	color:#a7a9ac;
	font-size:10px;
	font-weight:500;
	font-family: 'Montserrat', sans-serif;
}
.row-header{
	background-color: #efeff0;
	height: auto;
	padding: 10px 0px;
	color: #36465f;
	margin-bottom: 0px;
	float:left;
	clear: both;
	width:100%;
}

.row-header_add{
	background-color: #fccf47;
	height: auto;
	padding: 10px 0px;
	color: #36465f;
	margin-bottom:10px; 
	float:left;
	clear: both;
	width:100%;
}

.row_free{
	height: auto;
	border-bottom: 1px solid #fcc9dc;
	border-top: 1px solid #fcc9dc;
	padding: 15px;
	background-image: url(../img/row-free-img.png);
	background-repeat: repeat-x;
	color: #36465f;
	text-transform: uppercase;
	font-size: 20px;
	font-family: "Open Sans",sans-serif;
	text-align: center;
	font-weight: 400;
	
}

.row-header h2{
	font-size:14px!important;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
	
}
.row-header h1{
	font-size: 42px!important;
	font-weight: 900;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 12px;
}

.row-header_add h4{
	font-size: 20px!important;
	font-weight: 900;
	margin-bottom:5px;
	font-family: 'Montserrat', sans-serif;
	margin-top:5px;
}
@media screen and (min-width: 768px) {
.row-header h2{
	font-size:12px!important;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
	
}
.row-header h1{
	font-size: 32px!important;
	font-weight: 900;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif;
	margin-top:10px;
}

.row-header_add h4{
	font-size: 20px!important;
	font-weight: 900;
	margin-bottom:5px;
	font-family: 'Montserrat', sans-serif;
	margin-top:5px;
}	
}
@media screen and (min-width: 1200px){
.row-header h2{
	font-size:16px!important;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
	
}
.row-header h1{
	font-size: 40px!important;
	font-weight: 900;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif;
	margin-top:5px;
}

.row-header_add h4{
	font-size: 20px!important;
	font-weight: 900;
	margin-bottom:5px;
	font-family: 'Montserrat', sans-serif;
	margin-top:5px;
}	
}	

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.row-header h1{
	font-size: 40px!important;
	font-weight: 900;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 12px;
}
.row-header h2{
	font-size:10px!important;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	
}	
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
.row-header_add h4{
	font-size: 18px!important;
	font-weight: 900;
	margin-bottom:5px;
	font-family: 'Montserrat', sans-serif;
	margin-top:5px;
	text-align: center;
}	
}
.btn-magentas  {
	color: #fff !important;
	background-color: #f00f64;
	border-color: #f00f64;
	border-radius:0px;
	font-family: "Open Sans",sans-serif;
	font-weight:600;
	padding: 10px 25px;
	line-height: 22px;
	height:auto;
	font-size: 18px;
	margin:0px!important;
}
.btn-magentas .focus, .btn-magentas :focus {
	color: #fff!important;
	background-color: #f00f64;
	border-color: #f00f64
}
.btn-magentas :hover {
	color: #fff!important;
	background-color: #f4176b;
	border-color: #f4176b
}
.btn-magentas .active, .btn-magentas :active, .open>.dropdown-toggle.btn-magentas  {
	color: #fff!important;
	background-color: #f00f64;
	border-color: #f00f64
}
.btn-magentas .active.focus, .btn-magentas .active:focus, .btn-magentas .active:hover, .btn-magentas :active.focus, .btn-magentas :active:focus, .btn-magentas :active:hover, .open>.dropdown-toggle.btn-magentas .focus, .open>.dropdown-toggle.btn-magentas :focus, .open>.dropdown-toggle.btn-magentas:hover {
	color: #fff!important;
	background-color: #f00f64;
	border-color: #f00f64
}
.btn-voucher{
    background-color: #f5f5f6!important;
    border:1px solid #f00f64!important;
    color: #f00f64!important;
    padding:5px 22px;
    text-align: center;
    width:auto;
	border-radius:4px!important; 
	font-size: 15px;
	margin-bottom: 10px;
}
.btn-voucher.focus, .btn-voucher:focus, .btn-voucher:hover {
	color: #f00f64!important;
	text-decoration: none
}

@media only screen and (max-width : 320px) {
.btn-voucher{
    background-color: #f5f5f6!important;
    border:1px solid #f00f64!important;
    color: #f00f64!important;
    padding:5px 12px;
    text-align: center;
    width:auto;
	border-radius:4px!important; 
	font-size: 12px;
	margin-bottom: 10px;
}
.btn-voucher.focus, .btn-voucher:focus, .btn-voucher:hover {
	color: #f00f64!important;
	text-decoration: none
}
	.btn-voucher.active{
	background-color: #fddbe8!important;
    border:1px solid #f00f64!important;	
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.btn-voucher{
    background-color: #f5f5f6!important;
    border:1px solid #f00f64!important;
    color: #f00f64!important;
    padding:5px 12px;
    text-align: center;
    width:auto;
	border-radius:4px!important; 
	font-size: 12px;
	margin-bottom: 10px;
}
.btn-voucher.focus, .btn-voucher:focus, .btn-voucher:hover {
	color: #f00f64!important;
	text-decoration: none
}
.btn-voucher.active{
	background-color: #fddbe8!important;
    border:1px solid #f00f64!important;	
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	
.btn-voucher{
    background-color: #f5f5f6!important;
    border:1px solid #f00f64!important;
    color: #f00f64!important;
    padding:5px 9px;
    text-align: center;
    width:auto;
	border-radius:4px!important; 
	font-size: 11px;
	margin-bottom: 10px;
}
.btn-voucher.focus, .btn-voucher:focus, .btn-voucher:hover {
	color: #f00f64!important;
	text-decoration: none
}
	.btn-voucher.active{
	background-color: #fddbe8!important;
    border:1px solid #f00f64!important;	
	}
	
}	

@media only screen and (min-device-width : 375px) and (max-device-width :667px) {
	.btn-voucher{
    background-color: #f5f5f6!important;
    border:1px solid #f00f64!important;
    color: #f00f64!important;
    padding:5px 16px;
    text-align: center;
    width:auto;
	border-radius:4px!important; 
	font-size: 12px;
	margin-bottom: 10px;
}
.btn-voucher.focus, .btn-voucher:focus, .btn-voucher:hover {
	color: #f00f64!important;
	text-decoration: none
}
.btn-voucher.active{
	background-color: #fddbe8!important;
    border:1px solid #f00f64!important;	
	}
}
@media only screen and (min-device-width : 412px) and (max-device-width :732px) {
 
.btn-voucher{
    background-color: #f5f5f6!important;
    border:1px solid #f00f64!important;
    color: #f00f64!important;
    padding:5px 25px;
    text-align: center;
    width:auto;
	border-radius:4px!important; 
	font-size: 12px;
	margin-bottom: 10px;
}
.btn-voucher.focus, .btn-voucher:focus, .btn-voucher:hover {
	color: #f00f64!important;
	text-decoration: none
}
.btn-voucher.active{
	background-color: #fddbe8!important;
    border:1px solid #f00f64!important;	
	}	
}

@media only screen and (min-device-width : 768px) and (max-device-width :1024px) {
	.btn-voucher {
    background-color: #f5f5f6 !important;
    border: 1px solid #f00f64 !important;
    border-radius: 4px !important;
    color: #f00f64 !important;
    font-size: 10px;
    margin-bottom: 10px;
    padding: 5px 9px;
    text-align: center;
    width: auto;
}
}

.tab-contents{
	background-color: #f5f5f5;
	padding-bottom:0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	
}


.tab-cantainetr{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	border-bottom: 1px solid #d1d3d4;
	text-align: center;
	}
.tab-cantainetr h3{
	color: #36465f;
	font-size: 16px;
	font-weight: 800;
	margin-top:0px;
	margin-bottom:0px; 
}
.tab-cantainetr h4{
	color: #36465f!important;
	font-size: 13px!important;
	font-weight: 800;
	margin-top:10px;
	margin-bottom:10px;
}
.tab-cantainetr h5{
	color: #36465f!important;
	font-size: 13px!important;
	font-weight: 400;
	margin-top:10px;
	margin-bottom:10px;
}

.tab-cantainetr_a{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	text-align: center;
	}
.tab-cantainetr_a h3{
	color: #f4474a;
	font-size: 16px;
	font-weight: 800;
	margin-top:10px;
	margin-bottom:10px; 
}
@media only screen and (min-device-width : 320px) and (max-device-width :568px) {
	.tab-cantainetr h4{
	color: #36465f!important;
	font-size: 12px!important;
	font-weight: 800;
	margin-top:10px;
	margin-bottom:10px;
}
}
@media only screen and (min-device-width : 375px) and (max-device-width :667px) {
	.tab-cantainetr h4{
	color: #36465f!important;
	font-size: 15px!important;
	font-weight: 800;
	margin-top:10px;
	margin-bottom:10px;
}	
}
@media only screen and (min-device-width : 412px) and (max-device-width :732px) {
.tab-cantainetr h4{
	color: #36465f!important;
	font-size: 17px!important;
	font-weight: 800;
	margin-top:10px;
	margin-bottom:10px;
}	
}
.img-circles{
	width: 40px;
	height: 40px;
	border-radius:100%;
	overflow: hidden;
	border: 1px solid #e6e7e8;
}
.row-picture {
    display: inline-block;
    float: left;
	margin-top: 5px;
/*    padding-right: 10px;*/
}

.thumbnail_relative {
    position: relative;
    width:100%;
    height:80px;
    overflow: hidden;
    border:1px solid #f1f1f1;
    border-bottom:none;
}
.thumbnail_relative img {
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
}
.thumbnail_absolute {
    position: absolute;
    top:0px;
    right: 0;
    width:100%;
    height:auto;
	text-align: center;
	vertical-align: middle;
	margin: auto; 
}
.thumbnail_absolute h1{
	color: #fff;
}
.caption-yellow{
	background-color:#fccf47;
	display: block;
	color:#36465f;
	text-align: center;
}

.caption-grey{
	background-color:#36465f;
	display: block;
	color: #fff!important;
	text-align: center;
}

.thumbnail .caption h5{
	margin: 0px;
	color: #36465f;
	font-weight: 500;
	font-size: 14px;
}

.thum-heading{
	text-align: center!important;
	color: #6d6e71!important;
	font-family: "Open Sans",sans-serif!important;
	font-size: 12px!important;
	font-weight: 600!important;
	margin:5px 0px!important; 
}

@media only screen and (min-device-width : 320px) and (max-device-width :568px) {
.thumbnail .caption h5{
	margin: 0px;
	color: #36465f;
	font-weight: 500;
	font-size: 12px;
}

.thum-heading{
	text-align: center;
	color: #6d6e71;
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	font-weight: 600;
	margin:5px 0px; 
}	
}
@media only screen and (min-device-width : 412px) and (max-device-width :732px) {
	.thumbnail .caption h5{
	margin: 0px;
	color: #36465f;
	font-weight: 500;
	font-size: 14px;
}

.thum-heading{
	text-align: center;
	color: #6d6e71;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin:5px 0px; 
}
}

.tab-cantainetr-footer{
	width: 98%;
	padding:15px 0px;
	text-align: center;
	background-color: #36465f;
	/*float: left;*/
	margin:auto;
	clear: both;
}
.tab-cantainetr-footer h1{
	color: #fff;
	font-size:18px;
	font-weight: 600;
	margin: 0px;
	
}
.tab-cantainetr-footer h3{
	color: #fff;
	font-size:14px;
	font-weight: 400;
	margin: 0px;
	
}
@media only screen and (min-device-width : 320px) and (max-device-width :568px) {
	.tab-cantainetr-footer{
	width: 98%;
	padding:15px 0px;
	text-align: center;
	background-color: #36465f;
	/*float: left;*/
	margin:auto;
	clear: both;
}
	.tab-cantainetr-footer h1{
	color: #fff;
	font-size:15px;
	font-weight: 600;
	margin: 0px;
	
}
.tab-cantainetr-footer h3{
	color: #fff;
	font-size:13px;
	font-weight: 400;
	margin: 0px;
	
}
}

.tab-cantainetr2{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	border-bottom: 1px solid #d1d3d4;
	text-align: center;
	background: #fff;
	}
.tab-cantainetr2 h3{
	color: #36465f;
	font-size: 16px;
	font-weight: 800;
	margin-top:10px;
	margin-bottom:10px; 
}

.tab-cantainetr2 h4{
	color: #36465f;
	font-size: 16px;
	font-weight: 800;
	margin-top:10px;
	margin-bottom:10px; 
}
@media only screen and (min-device-width : 320px) and (max-device-width :568px) {
.tab-cantainetr2 h4{
	color: #36465f;
	font-size: 14px;
	font-weight: 800;
	margin-top:10px;
	margin-bottom:10px; 
}		
}
.offer-brand-logo{
	width:60px;
	height:60px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	border-radius:100%;
	}
.tab-cantainetr_buy{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	text-align: center;
	}
.tab-cantainetr_buy h1{
	font-size:18px;
	color:#36465f;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	border-bottom: 1px dotted #bcbec0;
	padding-bottom:15px; 
	padding-top:15px; 
	width: 80%;
	margin: auto;
}
.tab-cantainetr_buy h4{
	font-size:12px;
	color:#36465f;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}

.paginations{
	border-radius:2px;
	float: left;
	clear: both;
	width: 100%;
	padding: 0px;
	margin-bottom:70px;
	margin-top: 10px;
}
.paginations ul {
	padding:0px;
	margin:0px;
	list-style: none;
}
.paginations ul li{
	position: relative;
	float: left;
	padding:5px 18px; 
	color: #36465f;
	height: 50px;
	font-size:12px;
	word-break: break-all;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Open Sans', sans-serif;
	display: block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}
.paginations ul li:hover{
    background-color: #f00f64;
    border-color: #f00f64;
	color:#fff;
	display: block;
}
.paginations ul li:focus{
    background-color: #f00f64;
    border-color: #f00f64;
	color:#fff;
	display: block;
}
.paginations ul li span:hover{
    background-color: #f00f64;
    border-color: #f00f64;
	color:#fff;
	display: block;
}

.paginations ul li span{
	color:#f00f64;
	display: block;
}
.paginations ul li:hover span{
	color:#fff;
	display: block;
}
.paginations ul li:focus span{
	color:#fff;
	display: block;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.paginations ul li{
	position: relative;
	float: left;
	padding:5px 12px; 
	color: #36465f;
	height: 50px;
	font-size:12px;
	word-break: break-all;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Open Sans', sans-serif;
	display: block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}	
}

@media only screen and (min-device-width : 1200px){
.paginations ul li{
	position: relative;
	float: left;
	padding:5px 32px; 
	color: #36465f;
	height: 50px;
	font-size:12px;
	word-break: break-all;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Open Sans', sans-serif;
	display: block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}	
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.paginations ul li{
	position: relative;
	float: left;
	padding:5px 12px; 
	color: #36465f;
	height: 50px;
	font-size:12px;
	word-break: break-all;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Open Sans', sans-serif;
	display: block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}	
	
}


@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
.paginations ul li{
	position: relative;
	float: left;
	padding:5px 17px; 
	color: #36465f;
	height: 50px;
	font-size:12px;
	word-break: break-all;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Open Sans', sans-serif;
	display: block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}	
	
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
.paginations ul li{
	position: relative;
	float: left;
	padding:5px 19px; 
	color: #36465f;
	height: 50px;
	font-size:12px;
	word-break: break-all;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Open Sans', sans-serif;
	display: block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}	
	
}

@media only screen and (min-device-width : 412px) and (max-device-width : 732px) {
.paginations ul li{
	position: relative;
	float: left;
	padding:5px 24px; 
	color: #36465f;
	height: 50px;
	font-size:12px;
	word-break: break-all;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Open Sans', sans-serif;
	display: block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}	
	
}


.pag-span{
	color: #f00f64!important;
}
.pag-span a{
	color:#f00f64;
	text-decoration: none;
}
.pag-span a:hover{
	color:#fff;
	text-decoration: none;
}
.success{
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	text-align: center;
}
.success h3{
 color:#36465f !important;
 font-family: 'Montserrat', sans-serif;
 font-size:14px;
 text-align:center;
 font-weight: 800;
 margin: 10px 0px;
}

.success h4{
 color:#36465f !important;
 font-family: 'Montserrat', sans-serif;
 font-size:12px;
 text-align:center;
 font-weight: 800;
 margin: 0px 0px;
}

.success-header{
 width:100%;
 height:auto;
 background:#fff !important;
 float:left;
 clear:both;
 padding-bottom:5px;
 padding-left:5px;
 padding-right:5px;
 padding-top:5px;
 border-bottom:1px solid #f00f64}
.success-header h4{
 color:#ffbc00;
 font-family: 'Montserrat', sans-serif;
 font-size:20px;
 text-align:center;
 font-weight: 800;
 }
.success-header h5{
 color:#36465f;
font-family: 'Montserrat', sans-serif;
 font-size:12px;
 text-align:center;
 }
.success-header h1{
 color:#36465f;
 font-family: 'Montserrat', sans-serif;
 font-size:36px;
 text-align:center;
 margin-top:0px;
 margin-bottom:0px; 
 }
.success-header h1 small{
 color:#36465f;
 font-family: 'Montserrat', sans-serif;
 font-size: 65%;
 text-align:center;
 margin-top:0px;
 margin-bottom:0px; 
 }
.success-header h2{
 color:#36465f !important;
 font-family: 'Montserrat', sans-serif;
 font-size:14px;
 text-align:center;
 margin-top:0px;
 margin-bottom:0px;

 }
.font_color{
	color:#f00f64!important;
	text-decoration: underline;
}
.modal-body h2{
	font-size: 20px;
	color: #37465f;
	font-weight: 500;
	margin: 5px 0px;
	
}
.modal-body h5{
	font-size:16px;
	color:#818285;
	font-weight:400;
	
}
.modal-body p{
	font-size:14px;
	color:#818285;
	font-weight:400;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 15px;
	
}
.add-footer
	{
  position: fixed;
  height:auto;
  width:100%;
  bottom: 0;
  clear: both;
  background-color: #f4474a;
  color: #fff;
  float: left;
  padding: 15px 0px;
  text-align: center;
}
.add-footer h2{
	font-size: 12px;
	color: #fff;
	margin: 0px;
	font-family:'Montserrat', sans-serif;
	font-weight:500;
	
}

.success-group {
	height: auto;
	float: left;
    width:100%;
	border-top: 1px solid #f1f2f2;
	padding:10px 5px; 
}
.success-picture
 {
  width:70px;
  height:100px;
  display:block;
  float: left;
  overflow:hidden;
  background-color: #925455;
}
.success-img{
width: 100%;
height: 70px;
background-color:#000;
text-align: center;
float: left;
position: relative;
}
.success-img img {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}
.success-text{
width: 100%;
float: left;
height: 30px;
text-align: center;
vertical-align: middle;
background-color: #36465f;
color: #fff;
font-family: 'Montserrat', sans-serif;
line-height: 30px;
font-size: 15px;
font-weight: 700;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.success-picture
 {
  width:60px;
  height:80px;
  display:block;
  float: left;
  overflow:hidden;
  background-color: #925455;
}
.success-img{
width: 100%;
height: 50px;
background-color:#000;
text-align: center;
float: left;
position: relative;
margin-top: 5px;
}
.success-img img {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}	
	
.success-text{
width: 100%;
float: left;
height: 30px;
text-align: center;
vertical-align: middle;
background-color: #36465f;
color: #fff;
font-family: 'Montserrat', sans-serif;
line-height: 30px;
font-size: 13px;
font-weight: 700;
}
}
@media only screen and (min-device-width : 412px) and (max-device-width : 732px) {
.success-group {
	height: auto;
	float: left;
    width:100%;
	border-top: 1px solid #f1f2f2;
	padding:10px 5px; 
}
.success-picture
 {
  width:70px;
  height:100px;
  display:block;
  float: left;
  overflow:hidden;
  background-color: #925455;
}
.success-img{
width: 100%;
height: 70px;
background-color:#000;
text-align: center;
float: left;
position: relative;
margin-top: 0px;
}
.success-img img {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}
.success-text{
width: 100%;
float: left;
height: 30px;
text-align: center;
vertical-align: middle;
background-color: #36465f;
color: #fff;
font-family: 'Montserrat', sans-serif;
line-height: 30px;
font-size: 15px;
font-weight: 700;
}	
	
}
.row-content {
    display: inline-block;
    min-height: 50px;
    width: calc(100% - 92px);
	float: left;
}
.row-content{
    position: absolute;
    right: 16px;
    top: 16px;
}
.row-content {
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 20px;
}
.row-content {
    max-width: calc(100% - 30px);
}
.row-content {
    color: rgba(0, 0, 0, 0.54);
    position: absolute;
    right: 16px;
    top: 0;
	width: 100%
}
.row-contents {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    position: absolute;
    right:0px!important;
    top: 0;
	width: 100%
}
.list-group .list-group-item .list-group-item-heading {
    color: #36465f;
    font-size: 14px;
    line-height: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}
.list-group .list-group-item.active:hover, .list-group .list-group-item.active:focus {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    outline: 10px solid rgba(0, 0, 0, 0.15);
}
.list-group .list-group-item.active .list-group-item-heading, .list-group .list-group-item.active .list-group-item-text {
    color: rgba(0, 0, 0, 0.87);
}
.list-group .list-group-separator {
    clear: both;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
}
.success-group-item-heading {
    color: #414042;
    font-size: 13px;
    line-height:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    margin-top:0px;
    margin-bottom:5px;
}

.success-group-btn-heading {
    color: #808285;
    font-size: 10px;
    line-height:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    margin-top:0px;
    margin-bottom:2px;
	margin-left: 5px;
}

.success-group-item-text {
    color: #414042;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.3;
    margin-bottom:5px;
}

.success-group-item-icons {
    color: #414042;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.3;
    margin-bottom: 0;
 opacity:0.50;
}

@media only screen and (min-device-width : 768px){
.list-group .list-group-item .list-group-item-heading {
    color: #36465f;
    font-size: 10px;
    line-height: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}	
	
}
@media only screen and (min-device-width : 1200px){
.list-group .list-group-item .list-group-item-heading {
    color: #36465f;
    font-size: 14px;
    line-height: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}	
	
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.success-group-item-text {
    color: #414042;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 200;
    line-height: 1.3;
    margin-bottom:5px;
}

.success-group-item-heading {
    color: #414042;
    font-size: 10px;
    line-height:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    margin-top:0px;
    margin-bottom:0px;
}

.success-group-btn-heading {
    color: #808285;
    font-size: 40%;
    line-height:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    margin-top:0px;
    margin-bottom:2px;
	margin-left: 5px;
	
}
	
}

@media only screen and (min-device-width : 412px) and (max-device-width : 732px) {
	
.success-group-item-text {
    color: #414042;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.3;
    margin-bottom:5px;
}
	
.success-group-item-heading {
    color: #414042;
    font-size: 13px;
    line-height:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    margin-top:0px;
    margin-bottom:5px;
}

.success-group-btn-heading {
    color: #808285;
    font-size: 50%;
    line-height:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    margin-top:0px;
    margin-bottom:2px;
	margin-left: 5px;
}
	
}

/*---- Web css stylesheet-----*/
.web-container{
	width:100%;
	height: auto;
	float: left;
	clear: both;
	margin-top: 50px;
	padding:10px 0px; 
	
}
.web-form-group{
	margin-top: 5%;
}
.web-form-groups{
	margin-top: 5%;
	margin-bottom:20%;
}
/*--- radio button ---*/	
.web-input-hidden {
  position: absolute;
  left: -9999px;
}
input[type=radio]:checked + label>img {
background:#fff;
}
input[type=radio] + labels>img {
  border-radius:100px;
  width: 80px;
  height: 80px;
  transition: 500ms all;
  color: #808285;
	font-size: 13px;
}

input[type=radio]:checked + label>img {
  background:#fff;
}
.web-pagination{
	border-radius:0px;
	float: left;
	clear: both;
	width: 100%;
	padding: 0px;
	margin-top:35px;
	margin-left: 15%;

}
.web-pagination>li {
	display: block;
}
.web-pagination>li>a, .web-pagination>li>span {
	position: relative;
	float: left;
	padding: 5px 30px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #a7a9ac;
	font-size:12px;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Open Sans', sans-serif;
}
.web-pagination>li:first-child>a, .web-pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-pagination>li:last-child>a, .web-pagination>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.web-pagination>li>a:focus, .web-pagination>li>a:hover, .web-pagination>li>span:focus, .web-pagination>li>span:hover {
	z-index: 2;
	color: #fff;
	background-color: #258baf;
	border-color: #BCBEC0
}
.web-pagination>.active>a, .web-pagination>.active>a:focus, .web-pagination>.active>a:hover, .web-pagination>.active>span, .web-pagination>.active>span:focus, .web-pagination>.active>span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #BCBEC0;
	border-color: #337ab7
}
.web-pagination>.disabled>a, .web-pagination>.disabled>a:focus, .web-pagination>.disabled>a:hover, .web-pagination>.disabled>span, .web-pagination>.disabled>span:focus, .web-pagination>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd
}
.web-pagination-lg>li>a, .web-pagination-lg>li>span {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333
}
.web-pagination-lg>li:first-child>a, .web-pagination-lg>li:first-child>span {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-pagination-lg>li:last-child>a, .web-pagination-lg>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.web-pagination-sm>li>a, .web-pagination-sm>li>span {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5
}
.web-pagination-sm>li:first-child>a, .web-pagination-sm>li:first-child>span {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-pagination-sm>li:last-child>a, .web-pagination-sm>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.left-nav{
	background:#fccf47;
	padding-top:12px;
	padding-bottom:12px; 
}
.left-nav h2{
	margin:0px;
	color: #36465f;
	font-size: 18px;
	font-weight: 500;
	font-family: "Montserrat",sans-serif;
}
.left-nav h1{
    font-family: "Montserrat",sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 5px;
	color: #36465f;
}

.web-btn-magentas  {
	color: #fff !important;
	background-color: #f00f64;
	border-color: #f00f64;
	border-radius:2px;
	font-family: "Open Sans",sans-serif;
	font-weight:900;
	padding: 10px 20px;
	line-height: 22px;
	height:auto;
	font-size: 18px;
	margin:5px 0px;
}
.web-btn-magentas .focus, .web-btn-magentas :focus {
	color: #fff!important;
	background-color: #f00f64;
	border-color: #f00f64
}
.btn-magentas :hover {
	color: #fff!important;
	background-color: #f4176b;
	border-color: #f4176b
}
.web-btn-magentas .active, .web-btn-magentas :active, .open>.dropdown-toggle.web-btn-magentas  {
	color: #fff!important;
	background-color: #f00f64;
	border-color: #f00f64
}
.web-btn-magentas .active.focus, .web-btn-magentas .active:focus, .web-btn-magentas .active:hover, .web-btn-magentas :active.focus, .web-btn-magentas :active:focus, .web-btn-magentas :active:hover, .open>.dropdown-toggle.web-btn-magentas .focus, .open>.dropdown-toggle.web-btn-magentas :focus, .open>.dropdown-toggle.web-btn-magentas:hover {
	color: #fff!important;
	background-color: #f00f64;
	border-color: #f00f64
}

.right-nav{
	border-bottom:2px solid #fccf47;
	border-top: 2px solid #fccf47;
	margin-left: 5px;
	padding-top:19px;
	padding-bottom:19px; 
}
.web-btn-voucher{
    background-color: #fddbe8!important;
    border:1px solid #f00f64!important;
    color: #f00f64!important;
    padding:8px 25px;
    text-align: center;
    width:auto;
	border-radius:0px!important; 
	font-size: 15px;
	margin:0px;
}
.web-btn-voucher.focus, .web-btn-voucher:focus, .web-btn-voucher:hover {
	color: #f00f64!important;
	text-decoration: none
}
.web-nav-tabs {
	background:#fff;
	width: 100%;
	height:50px;
	float: left;
	clear: both;
	margin-bottom: 10px;
	border-bottom: 1px solid #fde2ec;
}
.web-nav-tabs > li > a {
  color: #f00f64;
  border:1px solid #f00f64;
  border-bottom: 1px solid #fde2ec;
  padding: 10px 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	
}
.web-nav-tabs > li > a:hover {
  background-color: #f00f64;
  border:1px solid #f00f64;
  border-bottom: 1px solid #fde2ec;
}
.web-nav-tabs > li > a
{
  background-color: #fff !important;
	color: #f00f64;
	
}
.web-nav-tabs>li.active>a,
.web-nav-tabs>li.active>a:focus,
.web-nav-tabs>li.active>a:hover{
  border: 0 !important;
  color: #fff !important;
  font-weight: 700;
  background-color: #f00f64!important;
  border-bottom:1px solid #f00f64!important;
}

.tabs-active {
  border: 0 !important;
  color: #fff !important;
  font-weight: 500;
  background-color: #f00f64!important;
}

.nav-tabs > li.disabled > a,
.nav-tabs > li.disabled > a:hover {
  color: #fff;
}

.web-tab-cantainetr_buy{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	text-align:left;
	}
.web-tab-cantainetr_buy h1{
	font-size:16px;
	color:#36465f;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}
.web-tab-cantainetr_buy h4{
	font-size:12px;
	color:#36465f;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
.web-tab-cantainetr_buy h6{
	font-size:10px;
	color:#36465f;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}
.web-paginations{
	border-radius:0px;
	float: left;
	clear: both;
	width: 100%;
	padding: 0px;
	margin-top: 25px;
	margin-bottom: 5px;
}
.web-paginations>li {
	display: block;
}
.web-paginations>li>a, .web-paginations>li>span {
	position: relative;
	float: left;
	padding: 15px 20px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #36465f;
	font-size:12px;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Montserrat', sans-serif;
}
.web-paginations>li:first-child>a, .web-paginations>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-paginations>li:last-child>a, .web-paginations>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.web-paginations>li>a:focus, .web-paginations>li>a:hover, .web-paginations>li>span:focus, .web-paginations>li>span:hover {
	z-index: 2;
	color: #fff;
	background-color: #7C8697;
	border-color: #BCBEC0
}
.web-paginations>.active>a, .web-paginations>.active>a:focus, .web-paginations>.active>a:hover, .web-paginations>.active>span, .web-paginations>.active>span:focus, .web-paginations>.active>span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #BCBEC0;
	border-color: #337ab7
}
.web-paginations>.disabled>a, .web-paginations>.disabled>a:focus, .web-paginations>.disabled>a:hover, .web-paginations>.disabled>span, .web-paginations>.disabled>span:focus, .web-pagination>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd
}
.web-paginations-lg>li>a, .web-paginations-lg>li>span {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333
}
.web-paginations-lg>li:first-child>a, .web-paginations-lg>li:first-child>span {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-paginations-lg>li:last-child>a, .web-paginationz-lg>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.web-paginations-sm>li>a, .web-paginations-sm>li>span {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5
}
.web-paginations-sm>li:first-child>a, .web-paginations-sm>li:first-child>span {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-paginations-sm>li:last-child>a, .web-paginations-sm>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.web-tab-pane{
	width: 100%;
	height:auto;
	float: left;
	clear: both;
}
.web-tab-pane h3{
color: #36465f;
font-size: 14px;
font-weight: 600;
margin-bottom: 15px;
margin-top: 5px;
font-family: 'Montserrat', sans-serif;
}
.web-tab-pane h4{
color: #f4474a;
font-size: 13px;
font-weight: 600;
margin-bottom: 15px;
margin-top: 5px;
font-family: 'Montserrat', sans-serif;
}
.web-tab-pane p{
	font-size: 12px;
	font-weight: 500;
	color:#36465f; 
	/*word-break: break-all;*/
	font-family: 'Montserrat', sans-serif;
}
.web-tab-pane h5{
color: #f00f64;
font-size: 13px;
font-weight: 400;
margin-bottom:0px;
margin-top: 0px;
font-family: 'Montserrat', sans-serif;
}
.web-tab-pane h6{
color: #6d6e71;
font-size: 13px;
font-weight: 800;
font-family: 'Montserrat', sans-serif;
}

.web-tab-pane-heading{
	font-size: 11px!important;
	font-weight: 400!important;
	color:#36465f!important; 
	font-family: 'Montserrat', sans-serif;
	margin-top:5px!important;
	margin-bottom:5px!important;
}
.web-list-group-item-heading {
  font-size: 15px!important;
  line-height: 40px;
  font-weight: 700;
  color: #36465f!important;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 9px!important;
}
.web-label-warning {
  background-color: #fccf47;
  border-radius: 0;
  padding: 0.4em 0.8em;
  color: #36465f;
  font-size: 14px;
  font-weight: 500;
}
.web-action-secondary {
  position: absolute;
  right: -12px;
  top: 17px;
}
.web-list-group-item{
	padding-top: 10px!important;
}

.web-img-circles{
	width: 30px!important;
	height: 30px!important;
	border-radius:100%;
	overflow: hidden;
}
.web-tab-pane_a{
	width: 100%;
	height:auto;
	float: left;
	clear: both;
	padding:10px 0px;
	/*background-color:#f9f9f9;*/
	margin-bottom: 10px;
}
.web-btn-danger
{
	background-color: #f00f64;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 14px!important;
    padding: 8px 25px!important;
}
.web-btns-danger
{
	background-color: #f00f64;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 12px!important;
    padding: 10px 20px!important;
}

.web-thumbnail_absolute {
    height: auto;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 91%;
}
.web-thumbnail_absolute h1{
	color: #fff;
}

.tabs{
width:100%;
height:40px;
float: left;
clear:both;
position: relative;
line-height:30px;
margin-top:5px;
margin-bottom: 3px;
}
.tabs ul{
 padding: 0px;
 margin: 0px;
 list-style: none;
}
.tabs ul li{
float: left;
width:50%
}
.tabs ul li a{
 display: block;
 padding:3% 5%;
 text-align:center;
 border-top: 1px solid #f00f64;
 border-bottom: 1px solid #f00f64;
 color:#f00f64;
 text-decoration: none;
 font-weight: 400;
 font-size:14px;
 line-height:30px;
}
.tabs ul li a:hover{
 background-color: #f00f64;
 color: #fff;
 font-weight: 500;
  font-size:14px;
}
.tabs>ul li.active>a,
.tabs>ul li.active>a:focus,
.tabs>ul li.active>a:hover{
  border: 0 !important;
  color: #fff !important;
  font-weight: 500;
  background-color: #f00f64!important;
  border-bottom: 2px solid #f00f64!important;
  font-size:14px;
}

.logo{
 width:100%;
 float: left;
 clear: both;
 height:150px;
}
.logo-shouut{
 width:80%;
 float: right;
 clear: both;
 height:55px;
 text-align: right;
}
/* web success page */
.web-success{
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	text-align: center;
}
.web-success h3{
 color:#36465f !important;
 font-family: 'Montserrat', sans-serif;
 font-size:16px;
 text-align:center;
 font-weight: 800;
 margin: 15px 0px;
}

.web-success h4{
 color:#36465f !important;
 font-family: 'Montserrat', sans-serif;
 font-size:12px;
 text-align:center;
 font-weight: 800;
 margin: 0px 0px;
}

.web-success-header{
 width:100%;
 height:auto;
 background:#fff !important;
 float:left;
 clear:both;
 padding-bottom:5px;
 padding-left:5px;
 padding-right:5px;
 padding-top:5px;
 border-bottom:1px solid #f00f64}
.web-success-header h4{
 color:#ffbc00;
 font-family: 'Montserrat', sans-serif;
 font-size:20px;
 text-align:center;
 font-weight: 800;
 }
.web-success-header h5{
 color:#36465f;
font-family: 'Montserrat', sans-serif;
 font-size:15px;
 text-align:center;
font-weight: 200;
 }
.web-success-header h1{
 color:#36465f;
 font-family: 'Montserrat', sans-serif;
 font-size:48px;
 text-align:center;
 margin-top:20px;
 margin-bottom:5px; 
 }
.web-success-header h1 small{
 color:#36465f;
 font-family: 'Montserrat', sans-serif;
 font-size: 65%;
 text-align:center;
 margin-top:0px;
 margin-bottom:0px; 
 }
.web-success-header h2{
 color:#36465f !important;
 font-family: 'Montserrat', sans-serif;
 font-size:17px;
 text-align:center;
 margin-top:0px;
 margin-bottom:5px;

 }
.web-success-container{
	width: 100%;
	height: auto;
	float: left;
	margin:25px 0px; 
}
.web-success-container ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.web-success-container ul li{
	float: left;
	width: 49%;
	margin:5px;
	background-color:#f1f1f2;
	padding: 8px;
}

@media screen and (min-width: 768px) {
.logo{
 width:100%;
 float: left;
 clear: both;
 height:120px;
}
.logo-shouut{
 width:80%;
 float: right;
 clear: both;
 height:40px;
 text-align: right;
}	
}
@media screen and (min-width: 1200px){
.logo{
 width:100%;
 float: left;
 clear: both;
 height:150px;
}
.logo-shouut{
 width:80%;
 float: right;
 clear: both;
 height:40px;
 text-align: right;
}	
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.web-success-container ul li{
	float: left;
	width: 48%;
	margin:5px;
	background-color:#f1f1f2;
	padding: 8px;
}	
}
.web-success-img{
width: 100%;
height: 70px;
padding:2px;
overflow: hidden;
float: left;
border-radius:4px; 
position: relative;
}
.web-success-img img {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}
.web-success-group-item-heading {
    color: #414042;
    font-size: 13px;
    line-height:20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    margin-top:0px;
    margin-bottom:5px;
}
.web-success-group-item-text {
    color: #414042;
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom:5px;
}
.web-success-group-item-icons {
    color: #414042;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 0;
    opacity:0.50;
}
.btn-primarys {
    background-color: #f00f64;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 0 !important;
    margin-top: 20px!important;
    padding: 6px 15px;
}
 /* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.web-pagination{
	border-radius:0px;
	float: left;
	clear: both;
	width: 100%;
	padding: 0px;
	margin-top:35px;
	margin-left: 5%;

}
.web-pagination>li {
	display: block;
}
.web-pagination>li>a, .web-pagination>li>span {
	position: relative;
	float: left;
	padding: 5px 15px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #a7a9ac;
	font-size:12px;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Open Sans', sans-serif;
}
.web-pagination>li:first-child>a, .web-pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-pagination>li:last-child>a, .web-pagination>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.web-pagination>li>a:focus, .web-pagination>li>a:hover, .web-pagination>li>span:focus, .web-pagination>li>span:hover {
	z-index: 2;
	color: #fff;
	background-color: #258baf;
	border-color: #BCBEC0
}
.web-pagination>.active>a, .web-pagination>.active>a:focus, .web-pagination>.active>a:hover, .web-pagination>.active>span, .web-pagination>.active>span:focus, .web-pagination>.active>span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #BCBEC0;
	border-color: #337ab7
}
.web-pagination>.disabled>a, .web-pagination>.disabled>a:focus, .web-pagination>.disabled>a:hover, .web-pagination>.disabled>span, .web-pagination>.disabled>span:focus, .web-pagination>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd
}
.web-pagination-lg>li>a, .web-pagination-lg>li>span {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333
}
.web-pagination-lg>li:first-child>a, .web-pagination-lg>li:first-child>span {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-pagination-lg>li:last-child>a, .web-pagination-lg>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.web-pagination-sm>li>a, .web-pagination-sm>li>span {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5
}
.web-pagination-sm>li:first-child>a, .web-pagination-sm>li:first-child>span {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-pagination-sm>li:last-child>a, .web-pagination-sm>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}	
.left-nav{
	background:#fccf47;
	padding-top:12px;
	padding-bottom:12px; 
}
.left-nav h2{
	margin:0px;
	color: #36465f;
	font-size: 12px;
	font-weight: 500;
	font-family: "Montserrat",sans-serif;
}
.left-nav h1{
    font-family: "Montserrat",sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 5px;
	color: #36465f;
}
	
.web-btn-magentas  {
	color: #fff !important;
	background-color: #f00f64;
	border-color: #f00f64;
	border-radius:2px;
	font-family: "Open Sans",sans-serif;
	font-weight:900;
	padding: 10px;
	line-height: 22px;
	height:auto;
	font-size: 13px;
	margin:5px 0px;
}
.web-btn-magentas .focus, .web-btn-magentas :focus {
	color: #fff!important;
	background-color: #f00f64;
	border-color: #f00f64
}
.btn-magentas :hover {
	color: #fff!important;
	background-color: #f4176b;
	border-color: #f4176b
}
.web-btn-magentas .active, .web-btn-magentas :active, .open>.dropdown-toggle.web-btn-magentas  {
	color: #fff!important;
	background-color: #f00f64;
	border-color: #f00f64
}
.web-btn-magentas .active.focus, .web-btn-magentas .active:focus, .web-btn-magentas .active:hover, .web-btn-magentas :active.focus, .web-btn-magentas :active:focus, .web-btn-magentas :active:hover, .open>.dropdown-toggle.web-btn-magentas .focus, .open>.dropdown-toggle.web-btn-magentas :focus, .open>.dropdown-toggle.web-btn-magentas:hover {
	color: #fff!important;
	background-color: #f00f64;
	border-color: #f00f64
}
.right-nav{
	border-bottom:2px solid #fccf47;
	border-top: 2px solid #fccf47;
	margin-left: 5px;
	padding-top:19px;
	padding-bottom:19px; 
}
.web-btn-voucher{
    background-color: #fddbe8!important;
    border:1px solid #f00f64!important;
    color: #f00f64!important;
    padding:8px 12px;
    text-align: center;
    width:auto;
	border-radius:0px!important; 
	font-size: 12px;
	margin:0px;
}
.web-btn-voucher.focus, .web-btn-voucher:focus, .web-btn-voucher:hover {
	color: #f00f64!important;
	text-decoration: none
}
	
.web-paginations{
	border-radius:0px;
	float: left;
	clear: both;
	width: 100%;
	padding: 0px;
	margin-top: 25px;
	margin-bottom: 5px;
}
.web-paginations>li {
	display: block;
}
.web-paginations>li>a, .web-paginations>li>span {
	position: relative;
	float: left;
	padding: 10px 15px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #36465f;
	font-size:12px;
	font-weight:700;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #BCBEC0;
	font-family: 'Montserrat', sans-serif;
}
.web-paginations>li:first-child>a, .web-paginations>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-paginations>li:last-child>a, .web-paginations>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.web-paginations>li>a:focus, .web-paginations>li>a:hover, .web-paginations>li>span:focus, .web-paginations>li>span:hover {
	z-index: 2;
	color: #fff;
	background-color: #7C8697;
	border-color: #BCBEC0
}
.web-paginations>.active>a, .web-paginations>.active>a:focus, .web-paginations>.active>a:hover, .web-paginations>.active>span, .web-paginations>.active>span:focus, .web-paginations>.active>span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #BCBEC0;
	border-color: #337ab7
}
.web-paginations>.disabled>a, .web-paginations>.disabled>a:focus, .web-paginations>.disabled>a:hover, .web-paginations>.disabled>span, .web-paginations>.disabled>span:focus, .web-pagination>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd
}
.web-paginations-lg>li>a, .web-paginations-lg>li>span {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333
}
.web-paginations-lg>li:first-child>a, .web-paginations-lg>li:first-child>span {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-paginations-lg>li:last-child>a, .web-paginationz-lg>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.web-paginations-sm>li>a, .web-paginations-sm>li>span {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5
}
.web-paginations-sm>li:first-child>a, .web-paginations-sm>li:first-child>span {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px
}
.web-paginations-sm>li:last-child>a, .web-paginations-sm>li:last-child>span {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px
}
.labels{
	color:#a7a9ac!important;
	font-family: 'Open Sans', sans-serif !important;
	font-size:12px!important;
	font-weight: normal;
}
	.logo{
 width:100%;
 float: left;
 clear: both;
 height:110px;
}
.logo-shouut{
 width:80%;
 float: right;
 clear: both;
 height:40px;
 text-align: right;
}
.web-tab-pane-heading{
	font-size: 8px!important;
	font-weight: 600!important;
	color:#36465f!important; 
	font-family: 'Montserrat', sans-serif;
	margin-top:5px!important;
	margin-bottom:5px!important;
}
.web-list-group-item-heading {
  font-size: 13px!important;
  line-height: 15px;
  font-weight: 700;
  color: #36465f!important;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 8px!important;
}
.web-label-warning {
  background-color: #fccf47;
  border-radius: 0;
  padding: 0.4em 0.8em;
  color: #36465f;
  font-size: 12px;
  font-weight: 500;
}
.web-action-secondary {
  position: absolute;
  right: -20px;
  top: 7px;
}
.web-list-group-item{
	padding-top: 0px!important;
}

.web-img-circles{
	width: 30px!important;
	height: 30px!important;
	border-radius:100%;
	overflow: hidden;
}
.web-tab-pane_a{
	width: 100%;
	height:auto;
	float: left;
	clear: both;
	padding:10px 0px;
	/*background-color:#f9f9f9;*/
	margin-bottom: 10px;
}
.web-btn-danger
{
	background-color: #f00f64;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 14px!important;
    padding: 8px 25px!important;
}
.web-btns-danger
{
	background-color: #f00f64;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 12px!important;
    padding: 10px 20px!important;
}
.thumbnail_relative {
    position: relative;
    width:100%;
    height:60px;
    overflow: hidden;
    border:1px solid #f1f1f1;
    border-bottom:none;
}
.thumbnail_relative img {
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
}
.web-thumbnail_absolute {
    height: auto;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: -7px;
    vertical-align: middle;
    width: 91%;
}
	
.web-thumbnail_absolute h1{
	color: #fff;
}
	
.list-group .list-group-item .row-content {
  display: inline-block;
  width: -webkit-calc(100% - 60px);
  width: 80%;
  height:50px;
}
.web-tab-pane p{
	font-size: 10px;
	font-weight: 500;
	color:#36465f; 
	/*word-break: break-all;*/
	font-family: 'Montserrat', sans-serif;
}
	
.web-tab-pane h5{
color: #f00f64;
font-size: 11px;
font-weight: 600;
margin-bottom:0px;
margin-top: 0px;
font-family: 'Montserrat', sans-serif;
}
.web-tab-pane h6{
color: #6d6e71;
font-size: 11px;
font-weight: 800;
font-family: 'Montserrat', sans-serif;
}
.thumbnail .caption {
    padding: 5px;
    color: #333
}
.thumbnail .caption h5{
	margin: 0px;
	color: #36465f;
	font-weight: 600;
	font-size: 11px;
}

.thum-heading{
	text-align: center!important;
	color: #6d6e71!important;
	font-family: "Open Sans",sans-serif!important;
	font-size: 11px!important;
	font-weight: 700!important;
	margin:5px 0px!important; 
}
	
.web-img-thumbnail {
    display:block;
    width: 100%;
    height: 106px;
    padding: 0px;
    line-height: 1.42857143;
}	
}

@media only screen and (min-width : 320px){
.logo{
 width:100%;
 float: left;
 clear: both;
 height:90px;
}
.logo-shouut{
 width:80%;
 float: right;
 clear: both;
 height:55px;
 text-align: right;
}	
	
}
@media only screen and (min-width : 412px){
.logo{
 width:100%;
 float: left;
 clear: both;
 height:100px;
}
.logo-shouut{
 width:80%;
 float: right;
 clear: both;
 height:55px;
 text-align: right;
}	
	
}
.footer_logo{
 width:180px;
 height:auto;
 margin: auto;
 text-align: center!important;
 padding-left:12%;
 margin-top: 10px;
}
/*--new_cp_2_css--*/
.earn-cantainetr{
	width: 100%;
	height: auto;
	float: left;
	clear: both;
} 
.earn-cantainetr h3{
	color: #36465f;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	margin-bottom:15px;
	margin-top: 15px;
}
.earn-cantainetr h4{
	color: #939598;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
}
.earn-cantainetr h6{
color:#231f20;
font-size:15px;
font-weight: 500;
margin: 5px 0px;
text-align: left;
}
.earn-cantainetr h6 small{
color:#808184;
font-size:13px;
font-weight: 500;
margin: 5px 0px;
}
@media screen and (min-width: 768px) {
.earn-cantainetr{
	width: 100%;
	height: auto;
	float: left;
	clear: both;
} 
.earn-cantainetr h3{
	color: #36465f;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	margin-bottom:15px;
	margin-top: 15px;
}
.earn-cantainetr h4{
	color: #939598;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
}
.earn-cantainetr h6{
color:#231f20;
font-size:15px;
font-weight: 500;
margin: 5px 0px;
text-align: left;
}
.earn-cantainetr h6 small{
color:#808184;
font-size:13px;
font-weight: 500;
margin: 5px 0px;
}	
	
}
@media screen and (min-width: 768px) {
.earn-cantainetr{
	width: 100%;
	height: auto;
	float: left;
	clear: both;
} 
.earn-cantainetr h3{
	color: #36465f;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	margin-bottom:15px;
	margin-top: 15px;
}
.earn-cantainetr h4{
	color: #939598;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
}
.earn-cantainetr h6{
color:#231f20;
font-size:15px;
font-weight: 500;
margin: 5px 0px;
text-align: left;
}
.earn-cantainetr h6 small{
color:#808184;
font-size:13px;
font-weight: 500;
margin: 5px 0px;
}	
	
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.earn-cantainetr h4{
	color: #939598;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
}	
}
@media only screen and (min-device-width : 340px) and (max-device-width : 640px) {
.earn-cantainetr h4{
	color: #939598;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
}	
}
@media only screen and (min-device-width : 412px) and (max-device-width : 732px) {
.earn-cantainetr h4{
	color: #939598;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
}	
}
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
.earn-cantainetr h4{
	color: #939598;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	margin-top:10px;
	margin-bottom: 10px;
}	
}
.earn-cantainetr ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.earn-cantainetr ul li{
width:31%;
height: 110px;
border: 1px solid #f3f3f4;
float: left;
margin:4px; 
}
.earn-cantainetr ul li a{
	text-align: center;
	display: block;
	padding:10px 5px 5px 5px;
	cursor: pointer;
	text-decoration: none;
	
}
.earn-cantainetr ul li a h5{
 color:#36465f;
font-size:11px;
font-weight: 900;
margin: 5px 0px;
}
.earn-cantainetr ul li a h6{
 color:#808285;
font-size:11px;
font-weight: 500;
margin: 5px 0px;
text-align: center;
}
.earn_li_img{
	width:55px;
	height: 55px;
	margin: auto;
}
.earn-cantainetr-a{
	width:100%;
	height: auto;
	float: left;
	clear: both;
}
.earn-cantainetr-a ul{
	padding: 0px;
	margin:0px;
	list-style:none;
}
.earn-cantainetr-a ul li{
	float:left;
	margin: 5px;
	width: 47%;
}
.earn-cantainetr-a ul li a{
	float:left;
	width: 100%;
	background-color:#f6f7f7;
	padding:10px 5px;
	border: 1px solid #e7e8e9;
	text-align: center;
	display: block;
	text-decoration: none;
}
.earn-cantainetr-a ul li a h5{
 color:#36465f;
font-size:11px;
font-weight: 900;
margin-top: 15px;
text-align: center;
margin-bottom: 0px;
}
.earns_li_img{
	width:60px;
	height:20px;
	margin: auto;
}
.earnss_li_img{
	width:40px;
	height:20px;
	margin: left;
	padding-left:10px;
}
.earn-cantainetr-b{
	width:99%;
	height:55px;
	float: left;
	clear: both;
	background-color:#f6f7f7;
	background-image: url(../img/assets/shouut_cp2_earn_location.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px 30px;
	paddingt-top:10px;
	padding-bottom:10px; 
	border: 1px solid #e7e8e9;
	margin-top:5px;
}
.earn-cantainetr-b a{
 color:#36465f;
 text-decoration: none;
 cursor: pointer;
}
.earn-cantainetr-b a h5{
 color:#36465f;
 font-size:16px;
 font-weight: 700;
 margin-left: 30px;
 margin-top: 20px;
 text-decoration: none;
}

@media only screen and (min-width: 768px) {
.earn-cantainetr ul li{
width:30%;
height: 110px;
border: 1px solid #f3f3f4;
float: left;
margin:4px; 
}
.earn-cantainetr ul li a{
	text-align: center;
	display: block;
	padding:10px 5px 5px 5px;
	cursor: pointer;
	text-decoration: none;
	
}
.earn-cantainetr ul li a h5{
 color:#36465f;
font-size:10px;
font-weight: 900;
margin: 5px 0px;
}
.earn-cantainetr ul li a h6{
 color:#808285;
font-size:10px;
font-weight: 500;
margin: 5px 0px;
text-align: center;
}
.earn_li_img{
	width:55px;
	height: 55px;
	margin: auto;
}
.earn-cantainetr-a{
	width:100%;
	height: auto;
	float: left;
	clear: both;
}
.earn-cantainetr-a ul{
	padding: 0px;
	margin:0px;
	list-style:none;
}
.earn-cantainetr-a ul li{
	float:left;
	margin: 5px;
	width: 46%;
}
.earn-cantainetr-a ul li a{
	float:left;
	width: 100%;
	background-color:#f6f7f7;
	padding:10px 5px;
	border: 1px solid #e7e8e9;
	text-align: center;
	display: block;
	text-decoration: none;
}
.earn-cantainetr-a ul li a h5{
 color:#36465f;
font-size:11px;
font-weight: 900;
margin-top: 15px;
text-align: center;
margin-bottom: 0px;
}
.earns_li_img{
	width:60px;
	height:20px;
	margin: auto;
}
.earnss_li_img{
	width:40px;
	height:20px;
	margin: left;
	padding-left:10px;
}
.earn-cantainetr-b{
	width:98%;
	height:55px;
	float: left;
	clear: both;
	background-color:#f6f7f7;
	background-image: url(../img/assets/shouut_cp2_earn_location.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px 30px;
	paddingt-top:10px;
	padding-bottom:10px; 
	border: 1px solid #e7e8e9;
	margin-top:5px;
}
.earn-cantainetr-b a{
 color:#36465f;
 text-decoration: none;
 cursor: pointer;
}
.earn-cantainetr-b a h5{
 color:#36465f;
 font-size:14px;
 font-weight: 700;
 margin-left: 30px;
 margin-top: 20px;
 text-decoration: none;
}	
	
}
@media only screen and (min-width: 1200px){
.earn-cantainetr ul li{
width:31%;
height: 110px;
border: 1px solid #f3f3f4;
float: left;
margin:4px; 
}
.earn-cantainetr ul li a{
	text-align: center;
	display: block;
	padding:10px 5px 5px 5px;
	cursor: pointer;
	text-decoration: none;
	
}
.earn-cantainetr ul li a h5{
 color:#36465f;
font-size:14px;
font-weight: 900;
margin: 5px 0px;
}
.earn-cantainetr ul li a h6{
 color:#808285;
font-size:12px;
font-weight: 500;
margin: 5px 0px;
text-align: center;
}
.earn_li_img{
	width:55px;
	height: 55px;
	margin: auto;
}
.earn-cantainetr-a{
	width:100%;
	height: auto;
	float: left;
	clear: both;
}
.earn-cantainetr-a ul{
	padding: 0px;
	margin:0px;
	list-style:none;
}
.earn-cantainetr-a ul li{
	float:left;
	margin: 5px;
	width: 47%;
}
.earn-cantainetr-a ul li a{
	float:left;
	width: 100%;
	background-color:#f6f7f7;
	padding:5px;
	border: 1px solid #e7e8e9;
	text-align: center;
	display: block;
	text-decoration: none;
}
.earn-cantainetr-a ul li a h5{
 color:#36465f;
font-size:11px;
font-weight: 900;
margin-top: 15px;
text-align: center;
margin-bottom: 0px;
}
.earns_li_img{
	width:60px;
	height:20px;
	margin: auto;
}
.earnss_li_img{
	width:40px;
	height:20px;
	margin: left;
	padding-left:10px;
}
.earn-cantainetr-b{
	width:98%;
	height:60px;
	float: left;
	clear: both;
	background-color:#f6f7f7;
	background-image: url(../img/assets/shouut_cp2_earn_location.svg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px 30px;
	paddingt-top:10px;
	padding-bottom:10px; 
	border: 1px solid #e7e8e9;
	margin-top:5px;
}
.earn-cantainetr-b a{
 color:#36465f;
 text-decoration: none;
 cursor: pointer;
}
.earn-cantainetr-b a h5{
 color:#36465f;
 font-size:16px;
 font-weight: 700;
 margin-left: 30px;
 margin-top: 20px;
 text-decoration: none;
}	
	
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.earn-cantainetr-b a h5{
 color:#36465f;
 font-size:14px;
 font-weight: 700;
 margin-left: 30px;
 margin-top: 20px;
 text-decoration: none;
}
.earn-cantainetr ul li{
width:30%;
height: 110px;
border: 1px solid #f3f3f4;
float: left;
margin:5px; 
}	
.earn-cantainetr ul li a h5{
 color:#36465f;
font-size:10px;
font-weight: 900;
margin: 5px 0px;
}
.earn-cantainetr ul li a h6{
 color:#808285;
font-size:9px;
font-weight: 500;
margin: 5px 0px;
text-align: center;
}
.earn-cantainetr-a ul li{
	float:left;
	margin: 6px;
	width: 46%;
}
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
.earn-cantainetr ul li{
width:30%;
height: 110px;
border: 1px solid #f3f3f4;
float: left;
margin:6px; 
}	
.earn-cantainetr ul li a h5{
 color:#36465f;
font-size:10px;
font-weight: 900;
margin: 5px 0px;
}
.earn-cantainetr ul li a h6{
 color:#808285;
font-size:9px;
font-weight: 500;
margin: 5px 0px;
text-align: center;
}
.earn-cantainetr-a ul li{
	float:left;
	margin: 7px;
	width: 46%;
}
}
.watch_video_header{
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	padding: 5px;
}
.watch_video_header h5{
color:#36465f;
font-size:16px;
font-weight: 900;
margin-top:5px;
text-align: center;
}
.watch_header_img{
	width: 40px;
	height: 40px;
	padding:5px;  
	float: left;
	cursor: pointer;
	display: block;
}
.add_cantainetr{
	width: 96%;
	height: auto;
	margin: 10px auto;
	border: 1px solid #e1e1e1;
	padding:5px; 
}
.add-row-content{
	width: 55%;
	float: left;
	height: 40px;
	padding:10px 8px; 
}
.add-warning {
  background-color: #ffbc00;
  border-radius: 0;
  color: #fff;
  width: auto;
  float:right;
  height: auto;
  padding: 5px 10px;
  text-align: center;
  margin-top: 5px;
 font-size:14px; 
 font-weight: 500;
 text-transform: uppercase;}
.add_cantainetr p{
	font-size: 12px;
	font-weight: 400;
	color:#36465f; 
	font-family: 'Montserrat', sans-serif;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.list-group .list-group-item .list-group-item-heading {
    color: #36465f;
    font-size: 10px;
    line-height: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}	
.add_cantainetr p{
	font-size: 10px;
	font-weight: 400;
	color:#36465f; 
	font-family: 'Montserrat', sans-serif;
	}
.add-warning {
  background-color: #ffbc00;
  border-radius: 0;
  color: #fff;
  width: auto;
  float:right;
  height: auto;
  padding: 3px 8px;
  text-align: center;
  margin-top: 5px;
  font-size:12px; 
  font-weight: 500;
  text-transform: uppercase;
}
.add_cantainetr p{
	font-size: 12px;
	font-weight: 400;
	color:#36465f; 
	font-family: 'Montserrat', sans-serif;
}
.thumbnail_absolute {
    position: absolute;
	top:-10px;
    right: 0;
    width:100px; 
    height:60px;
	text-align: center;
	margin: auto;
	/*background-color: #333;*/
	vertical-align: middle;
	padding-left: 15px;
}
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
.list-group .list-group-item .list-group-item-heading {
    color: #36465f;
    font-size: 12px;
    line-height: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}	
.add_cantainetr p{
	font-size: 12px;
	font-weight: 400;
	color:#36465f; 
	font-family: 'Montserrat', sans-serif;
}

}
.thumbnail_relative {
    position: relative;
    width:100%;
    height:60px;
    overflow: hidden;
    border:1px solid #f1f1f1;
    border-bottom:none;
}
.thumbnail_relative img {
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
}
.thumbnail_absolute {
    position: absolute;
	top:-10px;
    right: 0;
    width:100px; 
    height:60px;
	text-align: center;
	margin: auto;
	/*background-color: #333;*/
	vertical-align: middle;
}
.modal_brand_logo{
	width: 60px;
	height: 60px;
	margin: 10px auto;
	background-color: #666;
	border-radius:100px;
	overflow: hidden;
}
@media only screen and (min-width: 768px) {
.thumbnail_absolute {
    position: absolute;
	top:-10px;
    right: 0;
    width:85px;
    height:60px;
	text-align: center;
	margin: auto;
	/*background-color: #333;*/
	vertical-align: middle;
}	
	
}
@media only screen and (min-width: 1200px){
.thumbnail_absolute {
    position: absolute;
	top:-10px;
    right: 0;
    width:140px;
    height:60px;
	text-align: center;
	margin: auto;
	/*background-color: #333;*/
	vertical-align: middle;
}	
	
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
.thumbnail_absolute {
    position: absolute;
	top:-8px;
    right: 0;
    width:112px; 
    height:60px;
	text-align: center;
	margin: auto;
	/*background-color: #333;*/
	vertical-align: middle;
}	
}
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
.thumbnail_absolute {
    position: absolute;
	top:-8px;
    right: 0;
    width:130px; 
    height:60px;
	text-align: center;
	margin: auto;
	/*background-color: #333;*/
	vertical-align: middle;
}

}
.dialog-modal{
	margin-top: 8%;
	}
.modal_done_header{
	width: 100%;
	height: 160px;
	margin: auto;
	text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.dialog-modal{
	margin-top: 15%;
	}
.modal_done_header{
	width: 100%;
	height: 70px;
	margin: auto;
	text-align: center;
}

}

@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
	.dialog-modal{
	margin-top: 25%;
	}
.modal_done_header{
	width: 100%;
	height: 80px;
	margin: auto;
	text-align: center;
}

}

.modal-body h4{
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color:#36465f;
	font-family: 'Montserrat', sans-serif;
}
.modal-body p{
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	color:#36465f;
	font-family: 'Montserrat', sans-serif;
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
.modal-body p{
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color:#36465f;
	font-family: 'Montserrat', sans-serif;
}	
}

@media only screen and (min-device-width : 412px) and (max-device-width : 732px) {
.modal-body p{
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color:#36465f;
	font-family: 'Montserrat', sans-serif;
}	
}

.modal-body h5{
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color:#f00f64;
	font-family: 'Montserrat', sans-serif;
	text-decoration: underline;
}
.buy{
 width: 100%;
 height: auto;
 clear: both;
 float: left;
 text-align: center;
}
.buy h5{
	color:#36465f;
	font-size:15px;
	font-weight: 900;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	border-bottom: 1px dotted #bcbec0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.captcha-heading{
    color: #f00f64;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	text-align: center;
	}
.deals-heading{
    color: #36465f;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
	text-align: center;
	}
.deals-headings{
    color: #36465f;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
	text-align: center;
	margin:2px;
	}
.deals-headings span{
	color: #f00f64;
}
.book-heading{
    color: #36465f;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
	text-align: left;
	margin-bottom:0px;
	margin-top: 0px;
	}
.book-headings{
    color: #939598;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
	text-align: left;
	margin:0px;
	}
.col-centered{
    float: none;
    margin: 0 auto;
}
.star-headings{
	color: #f00f64;
	margin: 0px;
	text-align: left;
	font-size: 14px;
}
.star-headings small{
	color: #939598;
	margin: 0px;
	text-align: left;
	font-size: 14px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
.star-headings{
	color: #f00f64;
	margin: 0px;
	text-align: left;
	font-size: 8px;
}
.star-headings small{
	color: #939598;
	margin: 0px;
	text-align: left;
	font-size: 8px;
}	
	
}

@media screen and (max-height: 450px) {

}

.overlay{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 9999;
     color: white;
     display: inline-block;
	 text-align: center;
	 vertical-align: middle;
	 padding:15% 0px; 
 }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	
.overlay{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 9999;
     color: white;
     display: inline-block;
	 text-align: center;
	 vertical-align: middle;
	 padding:20% 0px; 
 }	
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	
.overlay{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 9999;
     color: white;
     display: inline-block;
	 text-align: center;
	 vertical-align: middle;
	 padding:25% 0px; 
 }	
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
	
.overlay{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 9999;
     color: white;
     display: inline-block;
	 text-align: center;
	 vertical-align: middle;
	 padding:22% 0px; 
 }	
}

@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
	
.overlay{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 9999;
     color: white;
     display: inline-block;
	 text-align: center;
	 vertical-align: middle;
	 padding:22% 0px; 
 }	
}
.overlay-header{
width: 100%;
height: auto;
float: left;
position: relative;
}
.overlay-header-b{
width: 100%;
height: auto;
float: left;
position: absolute;
z-index: 9999;
}

.radios-label{
    color: #36465f;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857;
	margin-left: 5px;
	
}
   
.restcart-close{
 width: 40px;
 height: 40px;
 padding:5px;  
 float: left;
 cursor: pointer;
 display: block;
}
.noUi-mb{
	color:#f00f64!important;
	margin-top:15px;
	font-weight: 700;
	font-size: 15px;
}
.noUi-lable-footer{
	color: #36465f;
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
	font-size: 14px;
	margin-top:20px!important;
	height: 40px;
	float: left;
	clear: both;
}
.noUi-mb-footer{
	color:#f00f64!important;
}

.header_all{
 width: 100%;
 height: auto;
 float: left;
 position: relative;
 text-align: center!important;
}
.header_all_arrow{
    width: 40px;
 height: 30px; 
 float: left;
 position: absolute;
 text-align: left;
 cursor: pointer;
 margin-top: 7px;
}

.selects{
 background-image: url(../img/menu-down.png)!important;
 background-position: right;
 background-repeat: no-repeat;
 background-color: #fff!important;
 
}
.modal-img{
 width: 100%;
 height:220px;
 margin: auto;
 overflow: hidden;
}
.modal-img img{
 width:100%;
 height: 100%;
}

.modal_video{
 width: 100%;
 height:220px;
 margin: auto;
 overflow: hidden;
 position: relative;
}
.modal_play{
 width: 80px;
 height:80px;
 text-align: center;
 vertical-align: middle;
 position: absolute;
 top:30%;
 left:40%;
 cursor: pointer;
}

@media only screen and (min-device-width : 1200px) and (max-device-width : 640px) {
.header {
 padding: 0% 0% 1% 0%;
 margin: 0px;
 width: 100%;
 height: auto;
 float: left;
 clear: both;
 text-align: center; 
}