.modal-title h4{
	color:#414042;
	font-weight:900;
	text-align:center;
	margin:20px 0px;
	}
	
.modal-title h5{
	color:#808285;
	font-weight:400;
	text-align:center;
	margin:10px 0px;
	font-size:17px;
	}
.form-input{
	padding-top:5px;
	padding-left:25px !important;
	}
.form-group-bd{
	position:relative;
	}
.form-group-text{
	position:absolute;
	display:block;
	left:11px;
	top:12px;
	z-index:9;
	font-family:Open Sans;
	font-weight:600;
	}
.web-container{
	width:640px;
	height:auto;
	background:#ffffff;
	margin:auto;
	padding:0px 15px 15px 15px;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	clear:both;
	}
	
.web-header{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	border-bottom:2px solid #f1f1f2;
	text-align:center;
	padding:15px 0px;
	}
.web-body{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	border-bottom:2px solid #f1f1f2;
	text-align:center;
	padding-bottom:10px;
	padding-top:25px;
	}
.web-body h4{
	margin:25px 0px;
	color:#e61e5a;
	font-weight:400;}
 .web-body h5{
		 color:#36465f;
		 font-weight:500;
		 font-size:15px;
		 }
 .web-body h6{
		 color:#404041;
		 font-size:14px;
		 }
 .web-body h2{
		 color:#36465f;
		 font-weight:800;
		 font-size:30px;
		 }